<?php

/**
 * Database configuration
 */

return [
    'db' => [
        'driver' => 'Pdo',
        'dsn' => 'mysql:host=;dbname=',
        'driver_options' => [
            PDO::MYSQL_ATTR_INIT_COMMAND => "SET NAMES 'UTF8'"
        ],
        'username' => '',
        'password' => ''
    ]
];
